.spacer {
    flex: 1 1 auto;
}

.user-email {
    margin-right: 16px;
    font-size: 14px;
}

.mat-icon {
    vertical-align: middle;
}

.button-icon {
    margin-right: 6px;
    vertical-align: middle;
}